<div class="modal" id="DeleteCustomerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="bi bi-search"></i>
                        Xóa khách hàng
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="deleteCustomerId">Mã khách hàng</label>
                        <input class="form-control" type="text" id="deleteCustomerId" name="customerId" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="deleteCustomerName">Tên khách hàng</label>
                        <input class="form-control" type="text" id="deleteCustomerName" name="customerName" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="deletePhone">Số điện thoại</label>
                        <input class="form-control" type="number" id="deletePhone" name="phone" readonly/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSubmitDelete" type="button" class="btn btn-primary">
                        <i class="bi bi-search"></i> Xóa
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#btnSubmitDelete").click(function() {
        var customerId = $("#deleteCustomerId").val();
        $.ajax({
            url: `/Customers/Delete/${customerId}`,
            type: "POST",
            success: function (response) {
                if (response) {
                    alert("Xóa khách hàng thành công");
                    $("#DeleteCustomerModal").modal("hide");
                    window.location.href = "/Customers/";
                    return;
                }          
                alert("Không thể xóa khách hàng có hóa đơn!");
                $("#DeleteCustomerModal").modal("hide");
            },
            error: function (error) {
                console.log(error)
                alert(error);
            }
        })
    })
</script>